{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Connexion
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">Formulaire de connexion</h1>
    <form action="{{ path('security.login') }}" method="post">
        <div>
            <label for="username" class="form-label mt-4">Adresse email</label>
            <input type="email" class="form-control" id="username" name"_username" 
            aria-describedby="emailHelp" placeholder="exemple@symrecipe.fr" data-nlok-ref-guid="bd515dca-e54d-46de-db7a-397721dd9628" autocomplete="off"><div id="norton-idsafe-field-styling-divId" style="height:24px;max-width:24px;vertical-align:top; position:absolute; top:145px;left:591.483870967742px;cursor:pointer;resize: both;z-index:2147483646;"><img id="norton-idsafe-field-logo-imgId" src="chrome-extension://lcccdlklhahfmobgpnilndimkankpnkg/images/npw-badge-icon-locked.svg" style="height:24px; width:24px;display:block;"></div>
            <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec qui que ce soit d'autre.</small>
          </div>
          <div>
            <label for="password" class="form-label mt-4">Mot de passe</label>
            <input type="password" class="form-control"
             id="password" name"_password" placeholder="********" autocomplete="off" data-nlok-ref-guid="d9a4a6cf-232e-4282-af89-9c76f7c9126f"><div id="norton-idsafe-field-styling-divId" style="height:24px;max-width:24px;vertical-align:top; position:absolute; top:263px;left:591.483870967742px;cursor:pointer;resize: both;z-index:2147483646;"><img id="norton-idsafe-field-logo-imgId" src="chrome-extension://lcccdlklhahfmobgpnilndimkankpnkg/images/npw-badge-icon-locked.svg" style="height:24px; width:24px;display:block;"></div>
          </div>
          <button type"submit" class="btn-primary mt-4">
            Se connecter
          </button>
    </form>
</div>

{% endblock %}
